{% extends 'base.html'  %}

{% block content %}
<div class="container pt-2 mb-5 mt-3">
    <h3 class="mb-3 text-center text-secondary"> venez reserver vos vacances chez luxe Agency , la meilleure agence </h3>
<div class="row">
    <div class="col-lg-4 col-sm-12 p-2 ">
       <div class="card shadow" style="width: 18rem;">
            <img src="https://img.freepik.com/photos-gratuite/chambre-luxe-hotel_1150-10836.jpg?w=740&t=st=1703863131~exp=1703863731~hmac=dbbd5e8e9857c2c41a3ea294950ec7700b995032c1cc2aaf57f26296e2f91450" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
       </div>
    </div>
  <div class="col-lg-4 col-sm-12 p-2">
    <div class="card shadow" style="width: 18rem;">
         <img src="https://img.freepik.com/photos-gratuite/conception-appartement-studio-moderne-chambre-espace-vie_1262-12375.jpg?w=740&t=st=1703862764~exp=1703863364~hmac=42c0cfef3ee4fc5a9b31735d392b7610a215ad94b80b9f2c2fe10b481652b5fe" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
 </div>
<div class="col-lg-4 col-sm-12 p-2">
    <div class="card shadow" style="width: 18rem;">
         <img src="https://img.freepik.com/photos-gratuite/suite-salle-bains-luxe-moderne-rendu-3d_105762-1936.jpg?t=st=1703853026~exp=1703853626~hmac=b391320492e3d176edf7444489d5eb9ac945ab6f57c8cce2f52bc1b7884c0718" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
    </div>
</div>

{% endblock content %}

